p.text-center
  | #{t("accommodation.p1")} <a href="https://www.cumulus.fi/hotellit/cumulus-salo">#{t("accommodation.hotel_name")}</a>
p.text-center= t("accommodation.p2")
p.text-center= t("accommodation.p3")
