p.text-center= t("wedding.p1")
p.text-center= t("wedding.p2")
p.text-center= t("wedding.p3")
p.text-center
  | #{t("wedding.register")} <a href="#{t("wedding.register_link")}">#{t("wedding.register_link")}</a>
p.text-center= t("wedding.welcome")
