@import "variables";

$menu-item-padding: rhythm(0.25) rhythm(1);

div#container {
  width: 90%;
  height: 90%;
  position: absolute;
  padding: rhythm(3);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background:
    image-url("corners/top_left.png") top left no-repeat,
    image-url("corners/top_right.png") top right no-repeat,
    image-url("corners/bottom_left.png") bottom left no-repeat,
    image-url("corners/bottom_right.png") bottom right no-repeat;
  background-size: rhythm(7);
  overflow: auto
}

div.locale-select {
  position: relative;
  float: right;
  top: rhythm(-2);
  a {
    margin-left: rhythm(0.5)
  }
}

#navigation {
  border-bottom: 2px solid $base-color;
  display: inline-block;
}

#content {
  margin-top: rhythm(2);

  a {
    text-decoration: underline;
  }
}

div.contact_info {
  margin: rhythm(2) 0;
}
