$menu-item-padding: rhythm(0.25) rhythm(2);

div#container {
  width: 90%;
  height: 90%;
  position: absolute;
  padding: rhythm(3);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background:
    image-url("corners/top_left.png") top left no-repeat,
    image-url("corners/top_right.png") top right no-repeat,
    image-url("corners/bottom_left.png") bottom left no-repeat,
    image-url("corners/bottom_right.png") bottom right no-repeat;
  background-size: rhythm(7);
}

#navigation {
  border-bottom: 1px solid;
  display: inline-block;
}

#content {
  margin-top: rhythm(2);
}
