$body-background: #FFFDFA;

$base-font-size: 16px;
$base-line-height: 24px;

$body-font-family: "Frontage", serif;

$base-color: #131B42;
$old-gold-color: #C5B356;

$menu-item-color-active: $old-gold-color;
$menu-item-background-active: none;

$foundation-palette: (
  primary: $base-color
)
